

<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
  <form class="form-inline">

    <label class="sr-only">To Do Item</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="far fa-plus-square"></i></div>
      </div>
      <%= f.text_field :content, placeholder: "New To do"  %>
      <%= f.hidden_field :user_id, value: session[:user_id] %>
      <button type="submit" class="btn btn-outline-light mb-0 float-right">Add Item</button>
    </div>

  </form>
<% end %>
