/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

 // Small tablets and large smartphones (landscape view)
 $screen-sm-min: 576px;
 // Small tablets (portrait view)
 $screen-md-min: 768px;
 // Tablets and small desktops
 $screen-lg-min: 992px;
 // Large tablets and desktops
 $screen-xl-min: 1200px;

 // Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}
// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}
// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}
// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

 $salmon: rgb(255, 87, 81);
 $navy: rgb(4, 15, 61);
 $navy_o:rgba(4, 15, 61, .5);
 $white: rgb(255, 255, 255);
 $grey: rgb(222, 222, 222);

* {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
 	height: 100%;
  background: $white;
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*buttons*/

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.btn-todo{
  color: $white;
  background: $navy;
  transition: all .4s ease-in-out;
  &:hover {
    color: $white;
    opacity: 0.75;
  }
}

/*login & app layout */

.login,
.image {
  min-height: 100vh;
}

.login-heading {
  font-weight: 600;
}

.navbar{
  background: $white;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.35);
  height: 60px;
  position: fixed;
  z-index: 5;
  width: 100%;

    a{
      color: $navy;
      letter-spacing: .02rem;
    }
}

.navbar-logo {
  max-width: 150px;
}

.nav-link {
  display: inline-block;
}

.nav_icon::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  color:$salmon;
  content: "\f2bd";
  display: inline-block;

    @include sm {
      margin-right: -5px;
    }
}

.navbar-collapse {
  margin-top: 10px;
  box-shadow: 0px 6px 7px -2px rgba(0,0,0,0.15);

    @include sm {
      margin-top: 0;
      box-shadow: none;
    }
}

.bg-image-grey {
  background-image: image-url("todos_background_1000.jpg");
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
}
.bg-image {
  background-image: image-url("todos_background_1000.jpg");
  background-size: cover;
  background-position: center;
}

.sign-up {
  color: $salmon !important;
  border: 1px solid $navy;
  font-size: .85em;
  font-weight: 800;
  padding: 10px;
  border-radius: 4px;
  width: 115px;
  text-align: center;
  transition: all .4s ease-in-out;

    &:hover{
      background: $grey;
    }
}

.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 0.8em;
	color: $salmon;

    a {
  		color: $salmon;
  	}
}



/* user homepage info bar */

.user_info_bar {
  position: fixed;
  text-align: center;
  color:$white;
  font-weight: 400;
  letter-spacing: 0.08em;
  top: 57px;
  right: 0;
  display: block;
  background: #ff5851;
  width: 100%;

    @include md {
        width: 66.666%;
    }
    @include lg{
      width: 50%;
    }
}

.notice {
  position: absolute;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  left:0;
  right:0;
  font-size: 0.6em;
  color: #fff;
  font-weight: 100;
  background: $salmon;
  padding: 10px 20px 5px;
}

.notice::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f058";
  display: block;
}

.todo_list_body{
  background: $navy;
  -webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,0.13);
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.13);
}

.todo_list_header {
  border-bottom: 2px solid $grey;
}

.todo_list_title {
	text-align: center;
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: $navy;
	margin-bottom: 0;

    a {
  		text-decoration: none;
  		color: $navy;
  		transition: all .4s ease-in-out;

        &:hover {
    			opacity: 0.5;
    		}
  	}
}

.todo_list_sub_title {
	margin: 0 0 2em 0;
	text-align: center;
  text-transform: capitalize;
	font-size: 1em;
	color: $navy;
	font-weight: 200;
}

.index_row {
	padding: 2em;
	border-bottom: 2px solid $salmon;
  transition: all .4s ease-in-out;

    .todo_list_sub_title {
  		margin-bottom: 0;
  	}

    &:hover{
      background: $grey;
    }
}

#todo_items_wrapper {
	.row {
		border-bottom: 2px solid rgba(250,250,250, .3);
		.complete, .blank {
			width: 10%;
			float: left;
			text-align: center;
			padding: 1em 0;
		}
		.todo_item, .new_todo {
			width: 80%;
			float: left;
			p {
				margin: 0;
				padding: 1em;
				color: $navy;
				font-weight: 400;
			}
		}
		.trash{
      width: 10%;
      height: 100%;
      float: left;
      text-align: center;
      padding: 1em 0;
      i {
      color: $navy;
      transition: all .4s ease-in-out;
        &:hover {
          opacity: 1;
          color: $white;
          }
        }
        &:hover{
          background: $salmon;

        }
      }
      .new_todo_submit{
        width: 10%;
        height: 100%;
        float: left;
        text-align: center;
        padding: 0.5em 0;
        background: transparent;
        border: none;
        font-size: 1.25em;
        i {
        color: $salmon;
        transition: all .4s ease-in-out;
          &:hover {
            color: $salmon;
            opacity: 1;
            transform: scale(1.25);
            }
      }
    }

		i {
			color: $navy;
			transition: all .4s ease-in-out;
			&:hover {
        opacity: .5;
				color: $navy;
			}
		}
	}
	#form {
		margin-top: 2em;
  		input[type="text"]{
        display: inline-block;
        height: 40px;
        padding: 1em;
        border-color: $navy;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        margin-bottom: .75em;
  		  }
		}
}

.forms {
	padding: 0 2.5%;
}

label {
	color: $navy;
  margin-bottom: 0;
}

input[type="text"], textarea, input#password, input#user_password, input#user_password_confirmation {
width: 100%;
display: inline-block;
height: 40px;
padding: 1em;
border-color: $navy;
border-radius: 0;
-webkit-box-shadow: none;
box-shadow: none;
border-top: 0;
border-left: 0;
border-right: 0;
margin-bottom: .75em;
}

textarea {
	height: 200px;
  border-left: 2px solid $navy;
  border-bottom: 2px solid $navy;
}
