/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';


 $salmon: rgb(255, 87, 81);
 $navy: rgb(4, 15, 61);
 $navy_o:rgba(4, 15, 61, .5);
 $white: rgb(255, 255, 255);
 $grey: rgb(198, 196, 197);

* {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
 	height: 100%;
  background: $white;
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*buttons*/

.btn-todo{
  color: $white;
  background: $navy;
  transition: all .4s ease-in-out;
  &:hover {
    color: $white;
    opacity: 0.75;
  }
}

.navbar{
  background: $white;
  border-bottom: 2px solid $grey;
  box-shadow: 0 0 5px -1px rgba(0,0,0,.2);
  padding: 0rem 2.5rem;
  a{
    color: $navy;
  }
}

.nav-link {
  display: inline-block;
}
.nav_icon::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  color:$salmon;
  content: "\f2bd";
  display: inline-block;
}

.sign-up {
    color: $salmon !important;
    border: 1px solid $navy;
    font-size: .85em;
    font-weight: 800;
    padding: 10px;
    border-radius: 4px;
    width: 115px;
    text-align: center;
    transition: all .4s ease-in-out;
    &:hover{
      background: $grey;
    }
}

// #notice {
//   margin-top:90px;
//   text-align: center;
//   position: absolute;
//   font-size: 0.6em;
//   color: #fff;
//   font-weight: 100;
//   bottom: -15px;
//   margin-left: -15px;
//   background: #4eb189;
//   -webkit-animation: fadeIn 3s forwards;
//   animation: fadeIn 3s forwards;
// }

#notice {
    text-align: center;
    position: fixed;
    margin: 0 auto;
    font-size: 0.6em;
    color: #fff;
    font-weight: 100;
    bottom: 0;
    /* margin-left: -15px; */
    background: #4eb189;
    padding: 10px 20px 5px;
     -webkit-animation: fadeIn 3s forwards;
     animation: fadeIn 3s forwards;
}

#notice::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f058";
  display: block;
}



.notice_slide_in{
  padding: 15px 10px;
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0
  }
  15%, 85% {
    opacity: 1
  }
}

.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
}

.todo_list_body{
  background: $navy;
  -webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,0.13);
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.13);
}

.todo_list_header {
  border-bottom: 15px solid #4eb189;
}

.todo_list_title {
	text-align: center;
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: $navy;
	margin: 0;
	a {
		text-decoration: none;
		color: $navy;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.5;
		}
	}
}

.todo_list_sub_title {
	margin: 0 0 2em 0;
	text-align: center;
  text-transform: capitalize;
	font-size: 1em;
	color: $navy;
	font-weight: 200;
}

.index_row {
	padding: 2em;
	border-bottom: 2px solid $salmon;
	.todo_list_sub_title {
		margin-bottom: 0;
	}
}

#todo_items_wrapper {
	.row {
		border-bottom: 2px solid rgba(250,250,250, .3);
		.complete {
			width: 10%;
			float: left;
			text-align: center;
			padding: 1em 0;
		}
		.todo_item {
			width: 80%;
			float: left;
			p {
				margin: 0;
				padding: 1em;
				color: $white;
				font-weight: 100;
			}
		}
		.trash {
      width: 10%;
      height: 100%;
      float: left;
      text-align: center;
      padding: 1em 0;
      background: #37485678;
      i {
      color: rgba(177, 26, 26, 0.95);
      transition: all .4s ease-in-out;
        &:hover {
          color: rgb(218, 0, 0);
          }
        }
      }

		i {
			color: $white;
			transition: all .4s ease-in-out;
			&:hover {
				color: $white;
			}
		}
	}
	#form {
		margin-top: 2em;
		input[type="text"]{
			width: 55%;
			display: inline-block;
			outline: none;
			background: rgba(250,250,250,.4);
			border: none;
			height: 50px;
			border-radius: 0px;
			padding: 1em 2em;
		  }
		}
}



.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 0.8em;
	color: $salmon;
	a {
		color: $salmon;
	}
}

.forms {
	padding: 0 2.5%;
}
label {
	color: $navy;
  margin-bottom: 0;
}
input[type="text"], textarea, input#password, input#user_password, input#user_password_confirmation {
width: 100%;
display: inline-block;
height: 40px;
padding: 1em;
border-color: #040f3c;
border-radius: 0;
-webkit-box-shadow: none;
box-shadow: none;
border-top: 0;
border-left: 0;
border-right: 0;
margin-bottom: .75em;
}
textarea {
	height: 200px;
}
